

h1 {
    font-family: "Faculty Glyphic", sans-serif;
    /* font-size: 25px; */
    font-weight: 400;
    font-style: normal;
}
h2 {
    font-family: "Faculty Glyphic", sans-serif;
    /* font-size: 18px; */
    font-weight: 400;
    font-style: normal;
}



p {
    font-style: normal;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 270;
    ont-style: normal;
}

dl {
    margin: 0;
    padding: 0;
}

dt {
    /* font-size: 12px; */
    font-weight: bold;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 360;
    font-style: normal;
}

dd {
    font-style: normal;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 270;
    font-style: normal;
    /* font-size: 11px; */
    margin: 0;
}